<!-- eslint-disable @angular-eslint/template/eqeqeq -->
<ion-header parallax imageUrl="https://picsum.photos/350" height="290" bgPosition="top">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button>
                <ion-icon name="menu-outline"></ion-icon>
            </ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button class="notification">
                <ion-icon name="notifications-outline" color="dark"></ion-icon>
                <span>&nbsp;</span>
            </ion-button>
            <ion-button class="filter">
                <ion-icon name="funnel-outline" color="dark"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-content>


    <div class="title ion-padding">
        <h2>Categories</h2>
        <p>See all</p>
    </div>

    <div class="category-slider ion-padding-start">
        <ion-slides [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }">
            <ion-slide *ngFor="let category of categories">
                <ion-col>
                    <h4 style="opacity:1">{{ category.name }}</h4>
                    <img src="{{ category.image }}" style="opacity:0.6" />
                </ion-col>
            </ion-slide>
        </ion-slides>
    </div>
    <div class="seperator">
        <hr>
    </div>

    <div class="variation">
        <ion-segment (ionChange)="segmentChanged($event)" value="size">
            <ion-segment-button value="card">
                <ion-icon name="apps-outline"></ion-icon>
            </ion-segment-button>
            <ion-segment-button value="list">
                <ion-icon name="list-outline"></ion-icon>
            </ion-segment-button>
        </ion-segment>
    </div>

    <div class="seperator">
        <hr>
    </div>

    <div class="variation-selector">
        <div class="sizes" [class.active-variation]="activeVariation == 'size'">
            <div [class.active]="selectedSize == 1" (click)="changeSize(1)">
                S
            </div>
            <div [class.active]="selectedSize == 2" (click)="changeSize(2)">
                M
            </div>
            <div [class.active]="selectedSize == 3" (click)="changeSize(3)">
                L
            </div>
            <div [class.active]="selectedSize == 4" (click)="changeSize(4)">
                XL
            </div>
        </div>

        <div class="colors" [class.active-variation]="activeVariation == 'color'">
            <div [class.active]="selectedColor == 1" (click)="changeColor(1)">
                BLACK
            </div>
            <div [class.active]="selectedColor == 2" (click)="changeColor(2)">
                GREEN
            </div>
            <div [class.active]="selectedColor == 3" (click)="changeColor(3)">
                BLUE
            </div>
        </div>
    </div>

    <div class="title ion-padding">
        <h2 class="font-bold">Nos Menus</h2>
        <p>See all</p>
    </div>

    <div class="product-slider ion-padding-start">
        <ion-slides [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }">
            <ion-slide>
                <app-item-card></app-item-card>
            </ion-slide>
        </ion-slides>
    </div>

    <div class="title ion-padding">
        <h2 class="font-bold">Nos Burgers</h2>
        <p>See all</p>
    </div>

    <div class="product-slider ion-padding-start">
        <ion-slides [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }">
            <ion-slide *ngFor="let product of bestSellProducts">
                <ion-col class="ion-text-left" routerLink="/item-details" routerDirection="forward">
                    <img src="{{ product.image }}" />
                    <p>${{ product.price }}</p>
                    <h6>{{ product.name }}</h6>
                </ion-col>
            </ion-slide>
        </ion-slides>
    </div>
</ion-content>